/* The commented css style looks better here 
 * in codepen, but not so great on JRN */

body {
  font-family: arial;
  color: #fff;
}

button,
a:hover {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

.discord-widget {
  height: 340px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.5);
  background-color: #1e2124;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 65px;  
  /* padding-bottom: 40px; */
}

.discord-header {
  position: relative;
  /* height: 40px; */
  height: 70px;
  padding: 15px 10px;
  background-color: #333333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.discord-body {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  position: relative;
}

.retroarch-x-discord-logo {
  background-image: url('/images/retroarch-x-discord-logo.png');
  height: 40px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: left;
  filter: contrast(1.1);
  float: left;
  margin-bottom: 10px;
}

.discord-list {
  position: relative;
  width: 100%;
  height: 105%;
  max-height: 210px;
  display: inline-block;
  overflow: auto;
  margin-top: 10px;
  overflow: hidden;
}

.discord-list-botshadow:hover + .discord-list, .discord-list:hover {
  overflow: auto;
}

.discord-list-botshadow {
  width: 80%;
  height: 65%;
  max-height: 250px;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 1;
  box-shadow: inset 0px -24px 40px -11px rgba(30, 33, 36, 1),
    inset 0px -21px 40px -11px rgba(30, 33, 36, 1);
  pointer-events: none;
}

.discord-list-bot-shadow:after {
  content: ' ';
  background-image: linear-gradient(to bottom, transparent 0%, #1d1f20 100%);
  bottom: 118px;
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  width: calc(100% - 13.5px);
  z-index: 1;
}

.discord-list-status,
.discord-list-label {
  display: inline-block;
  margin-bottom: 2px;
}

.discord-list-status:before {
  content: " \25C9";
  color: #89ff00;
  margin-right: 5px;
  -webkit-animation: pulse 2s infinite ease-in-out;
  -moz-animation:    pulse 2s infinite ease-in-out;
  -o-animation:      pulse 2s infinite ease-in-out;
  animation:         pulse 2s infinite ease-in-out;
}

.discord-list-label:before {
  content: "RetroArch Players:";
  color: #fff;
}

.scroll-placeholder {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 7px;
  height: calc(65% - 10px);
  max-height: 250px;
  background-color: rgba(88, 88, 138, 0.18);
  border-radius: 4px;
}

#members-count {
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  position: absolute;
  color: #fff;
  top: calc(50% - 10px);
  right: 10px;
}

.member-label {
  font-weight: normal;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

#members-list img {
  width: 15px;
}

.member-avatar {
  padding-right: 7px;
}

#members-list td.member-name {
  font-size: 14px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
}

/* Workaround, if page has colliding rules */
.discord-widget * > tr {
  background-color: transparent !important;
}

.discord-cta {
  border-bottom: 3px solid #333333;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #333333;
  padding: 5px 25px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 75%;
  max-height: 45px;
  transition: .3s;
}

.discord-cta:hover {
  background-color: #58588A;
  border-bottom: 3px solid #58588A;
  font-size: 17px;
  transition: .3s;
}

.discord-learn-more {
  float: right;
  text-align: center;
  opacity: 0.4;
  margin: 5px 0;
  font-size: 13px;
  transition: .2s;
}

.discord-learn-more:after {
  content: "Learn more";
}

.discord-learn-more:hover {
  opacity: 0.8;
  transition: .2s;
}

.discord-cta:after {
  content: "Join our Discord!";
}


@-webkit-keyframes pulse {
  0%   { opacity: .3;}
  50%  { opacity: 1;}
  100% { opacity: .3;}
}
@-moz-keyframes pulse {
  0%   { opacity: .3;}
  50%  { opacity: 1;}
  100% { opacity: .3;}
}
@-o-keyframes pulse {
  0%   { opacity: .3;}
  50%  { opacity: 1;}
  100% { opacity: .3;}
}
@keyframes pulse {
  0%   { opacity: .3;}
  50%  { opacity: 1;}
  100% { opacity: .3;}
}